body{
  background-color:whitesmoke;
}
h1{
  font-family: 'Alfa Slab One', cursive;  
}
.nav2{
color: black;
}
a{
  color: black;
}
#img{
  border-radius: 80%;
}
#img1{
  float: left;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.con {
  position: relative;
  
}

.img-fluid {
  display: block;
  
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
}
.text{
  font-size: x-large;
  color: aqua;
  
  height: fit-content;
  margin: 0%;
  padding-top: 5%;

}
.con:hover .overlay {
height: 100%;
}

.card-body {
color: black;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
/* height: fit-content;
text-align: center; */
}
.back{
background-color: black;
opacity: 0.7;

}



#hot{
  text-align: center;
  color: white;
  padding: -2%;
  background-color: black;
  opacity: 0.7;
}

.nav3{
  
  position: sticky;
}

.content{
  padding: 0;
  margin: 0%;
  height: fit-content;
  text-align: center;
  text-align-last: fixed;
  background-color: black;
  
}

.nav4 {
  
  z-index: 500;
  top: 0%;
  bottom: 0;
  width: 500px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  


  opacity: 0.7;
}


.nav4 ul {
    
  margin-top: -10px;
  width: 30px;
  height: 300px;
}

.nav-toggle-btn{
    
  
  left: 100px;
  width: 40px;
  height: 40px;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  opacity: 0.5;
}
.card1{
margin-top: 2vh;
}
h5{
  color: green;
  font-size: x-large;
  border: 2vh;
  margin-top: -2vh;
  font-weight: bolder;
  background-color: black;
  opacity:0.95;

}
h5 :hover{
  
}